@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #092B34;
  --foreground: #E4F5FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E4F5FF;
    --foreground: #092B34;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.introduction{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 80vh;
}